<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:context="http://www.springframework.org/schema/context" 
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.2.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">
	<!-- 引入局部配置文件 -->
	<context:property-placeholder location="classpath:/jdbc.properties"/>

	<!-- 数据源 -->
	<bean id="ds" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${driver}" />
		<property name="url" value="${url}" />
		<property name="username" value="${name}" />
		<property name="password" value="${pwd}" />
	</bean>
	
	<!-- SqlSessFactoryBean工厂 -->
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 连接池 -->
		<property name="dataSource" ref="ds"/>
		
		<!-- 实体类的别名 -->
		<property name="typeAliasesPackage" value="com.fyx.mvc.entity" />
		
		<!-- Mapper文件的配置 -->
		<property name="mapperLocations">
			<list>
				<value>classpath:/mapper/*Mapper.xml</value>
			</list>
		</property>
	</bean>
	
	<!-- Mapper文件扫描仪 -->
	<bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
			<property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryBean" />
			
			<property name="basePackage" value="com.fyx.mvc.dao" />
	</bean>
	
	<!-- 事务控制 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="ds" />
	</bean>
	
	<!-- 注解驱动事务,由事务注解描述事务属性 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
		
	<!-- 注解扫描仪,自动扫描目标包中的实体注解(component) -->
	<context:component-scan base-package="com.fyx.mvc.service" />

	<aop:aspectj-autoproxy expose-proxy="true"/>
	
</beans>

